.videowrapper
{
    .modal-content {
    background: transparent;
            border: 0;
}
    .modal-body
    {
        padding: 0;
        button.close {
    color:$white;
    opacity: 1;
    font-size: 40px;
    text-shadow: none;
            &:hover,
            &:focus
            {
                color:$white;
                outline: none;
            }
}
    }
    @media (min-width: 576px){
.modal-dialog {
    max-width: 753px;
    margin: 84px auto;
}
        }
}